* {
    font-family: 'Open Sans', sans-serif!important;
}
 
/* Color Section  */

.primary-clr {
    color: #FD6E0A;
}

/*------------- Header & Navigation --------*/

/* Navigation section*/
/* ------------------------------------ */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}
nav h2 {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

/* btn-properties */
.btn-primary {
    height: 64px;
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    font-size: 20px ;
    border-radius: 5px;
    padding: 18px 35px;
}

/* Banner section */



/* ------------------------------------------- */


